.poll {
  margin-top: 8px;
  font-size: 14px;

  li {
    margin-bottom: 10px;
    position: relative;
  }

  &__chart {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: inline-block;
    border-radius: 4px;
    background: lighten($ui-base-color, 8%);

    &.leading {
      background: lighten($ui-highlight-color, 10%);
    }
  }

  &__text {
    position: relative;
    display: inline-block;
    padding: 6px 10px;
  }

  &__footer {
    padding-bottom: 5px;
    color: $dark-text-color;
  }
}
